/*E8 Luke Heimpel*/
body {
  background: darkblue;
}

.weather-container {
  text-align: center;
  padding-top: 40px;
}

.weather1 {
  font-size: 30px;
  margin: 0;
  color: aliceblue;
}

.info {
  font-size: 20px;
  margin: 0;
  color: aliceblue;
  padding-bottom: 30px;
  padding-top: 40px;
}

.temp {
  font-size: 80px;
  margin: 0;
  color: yellow;
  font-weight: bold;
  padding-top: 20px;
}

.icon {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
