* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#shopping {
  margin: 0;
}

:root {
  --main-color: red;
  --text-color: black;
  --bg-color: white;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

.container {
  max-width: 1068;
  margin: auto;
  width: 100%;
}

section {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 15%/ 10%);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5vw;
  padding-left: 5vw;
}

.logo {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 400;
}

#cart-icon {
  cursor: pointer;
}

.cart {
  position: fixed;
  top: 0;
  right: -500%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: whitesmoke;
  box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
  transition: 0.3s;
  max-height: 80vh; /* Set a maximum height for the cart */
  overflow-y: auto; /* Enable vertical scrolling */
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.6rem;
}

.cart-remove {
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}

.total-title {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 1rem;
}

.total-price {
  margin-left: 0.5rem;
  padding-top: 1rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: black;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

.btn-buy:hover {
  background: crimson;
}

#close-cart {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  cursor: pointer;
}

.cart-product-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.cart-price {
  font-size: 1rem;
  font-weight: 400;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop {
  margin-top: 4rem;
  padding-bottom: 150px;
}

/*Shop Content*/
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box {
  position: relative;
}

.product-box:hover {
  padding: 10px;
  border: 3px solid black;
  transition: 0.4s;
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 300;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  background-color: black;
}

#add-cart:hover {
  background: hsl(249, 32%, 17%);
}
@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }
  section {
    padding: 3rem 0 2rem;
  }
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .shop {
    margin-top: 2rem !important;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 11px;
  }
  .logo {
    font-size: 1rem;
  }
  .cart {
    width: 320px;
  }
}

@media (max-width: 360px) {
  .shop {
    margin-top: 1rem !important;
  }
  .cart {
    width: 280px;
  }
}

#waitsection {
  display: block;
  margin-left: 0px;
}

@media (min-width: 1080px) {
  .wait {
    position: absolute;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);

    #hall {
      position: absolute;
      width: 1000px;
      height: auto;
    }

    .door {
      position: absolute;
      height: auto;
      width: 187px;
      left: 567px;
      top: 198px;
      cursor: pointer;
    }

    .opendoor {
      position: absolute;
      height: auto;
      width: 129.5px;
      left: 750px;
      top: 198px;
    }

    .sky1 {
      position: absolute;
      width: 600px;
      height: auto;
      left: 73px;
      top: 175px;
    }
    .sky2 {
      display: none;
    }

    .sky3 {
      display: none;
    }

    .sky4 {
      display: none;
    }

    #text {
      position: absolute;
      text-align: center;
      left: 480px;
      font-size: 36px;
      top: 690px;
      font-weight: 200;
      cursor: pointer;
      padding: 0.25em;
      background: white;
      color: black;
      transition: color 650ms ease;
      transition: background-color 750ms ease;
      border: 0.3rem outset black;
      border-radius: 17px;
    }
    #night {
      position: absolute;
      width: 1000px;
      height: 850px;
      background-color: navy;
      opacity: 0;
    }
    .clickbox {
      cursor: pointer;
      position: absolute;
      width: 107.5px;
      height: 121px;
      left: 605px;
      top: 366px;
      background-color: none;
    }
    #knock {
      position: absolute;
      text-align: center;
      left: 608px;
      font-size: 19px;
      top: 226px;
      font-weight: 900;
      color: white;
    }

    #hanginthere {
      position: absolute;
      text-align: center;
      margin-left: 300px;
      font-size: 19px;
      top: 400px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }

    #hangon {
      position: absolute;
      text-align: center;
      margin-left: 300px;
      font-size: 19px;
      top: 400px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
      margin-left: 500px;
    }
    #transit {
      position: absolute;
      text-align: center;
      margin-left: 300px;
      font-size: 19px;
      top: 400px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
      margin-left: 500px;
    }

    #be {
      position: absolute;
      text-align: center;
      margin-left: 300px;
      font-size: 19px;
      top: 400px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #your {
      position: absolute;
      text-align: center;
      margin-left: 300px;
      font-size: 19px;
      top: 400px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 1079px) and (min-width: 800px) {
  .wait {
    position: absolute;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    top: 6%;

    #hall {
      position: absolute;
      display: flex;
      width: 800px;
      height: auto;
    }
    .door {
      position: absolute;
      height: auto;
      width: 150px;
      left: 453px;
      top: 158px;
      cursor: pointer;
    }

    .sky2 {
      position: absolute;
      width: 500px;
      height: auto;
      left: 48px;
      top: 140px;
    }

    .sky1 {
      display: none;
    }

    .sky3 {
      display: none;
    }

    .sky4 {
      display: none;
    }

    #text {
      position: absolute;
      text-align: center;
      left: 380px;
      font-size: 30px;
      top: 570px;
      font-weight: 200;
      cursor: pointer;
      padding: 0.25em;
      background: white;
      color: black;
      transition: color 650ms ease;
      transition: background-color 750ms ease;
      border: 0.3rem outset black;
      border-radius: 17px;
    }
    #night {
      position: absolute;
      width: 800px;
      height: 680px;
      background-color: navy;
      opacity: 0;
    }
    .opendoor {
      position: absolute;
      height: auto;
      width: 103.5px;
      left: 599px;
      top: 158px;
    }
    .clickbox {
      cursor: pointer;
      position: absolute;
      width: 86px;
      height: 97px;
      left: 484px;
      top: 293px;
      background-color: none;
    }
    #knock {
      position: absolute;
      text-align: center;
      left: 463px;
      font-size: 18px;
      top: 175px;
      font-weight: 900;
      color: white;
      padding: 1rem;
    }
    #hanginthere {
      position: absolute;
      font-size: 18px;
      top: 200px;
      font-weight: 900;
      margin-left: 300px;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #hangon {
      position: absolute;
      font-size: 18px;
      top: 200px;
      font-weight: 900;
      margin-left: 300px;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #transit {
      position: absolute;
      font-size: 18px;
      top: 200px;
      font-weight: 900;
      margin-left: 300px;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }

    #be {
      position: absolute;
      font-size: 18px;
      top: 200px;
      font-weight: 900;
      margin-left: 300px;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #your {
      position: absolute;
      font-size: 18px;
      top: 200px;
      font-weight: 900;
      margin-left: 300px;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 799px) and (min-width: 550px) {
  .wait {
    position: absolute;
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;

    #hall {
      position: absolute;
      width: 550px;
      height: auto;
    }
    .door {
      position: absolute;
      height: auto;
      width: 104px;
      left: 311px;
      top: 109px;
      cursor: pointer;
    }

    .sky3 {
      position: absolute;
      width: 340px;
      height: auto;
      left: 35px;
      top: 95px;
    }
    .sky1 {
      display: none;
    }

    .sky2 {
      display: none;
    }

    .sky4 {
      display: none;
    }
    #text {
      position: absolute;
      text-align: center;
      left: 260px;
      font-size: 25px;
      top: 370px;
      font-weight: 200;
      cursor: pointer;
      padding: 0.25em;
      background: white;
      color: black;
      transition: color 650ms ease;
      transition: background-color 750ms ease;
      border: 0.3rem outset black;
      border-radius: 17px;
    }
    #night {
      position: absolute;
      width: 550px;
      height: 468px;
      background-color: navy;
      opacity: 0;
    }

    .opendoor {
      position: absolute;
      height: auto;
      width: 72.5px;
      left: 414px;
      top: 109px;
    }
    .clickbox {
      cursor: pointer;
      position: absolute;
      width: 59.5px;
      height: 66px;
      left: 332.5px;
      top: 201.5px;
      background-color: none;
    }

    #knock {
      position: absolute;
      text-align: center;
      left: 329px;
      font-size: 14px;
      top: 127px;
      font-weight: 900;
      color: white;
    }
    #hanginthere {
      position: absolute;
      margin-left: 200px;
      font-size: 14px;
      top: 250px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #hangon {
      position: absolute;
      margin-left: 200px;
      font-size: 14px;
      top: 250px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }

    #transit {
      position: absolute;
      margin-left: 200px;
      font-size: 14px;
      top: 250px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #be {
      position: absolute;
      margin-left: 200px;
      font-size: 14px;
      top: 250px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }

    #your {
      position: absolute;
      margin-left: 200px;
      font-size: 14px;
      top: 250px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 549px) and (min-width: 300px) {
  .wait {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;

    #hall {
      position: absolute;
      width: 300px;
      height: auto;
    }
    .door {
      position: absolute;
      height: auto;
      width: 56px;
      left: 170px;
      top: 59px;
      cursor: pointer;
    }

    .sky4 {
      position: absolute;
      width: 180px;
      height: auto;
      left: 22px;
      top: 50px;
    }
    .sky1 {
      display: none;
    }

    .sky2 {
      display: none;
    }

    .sky3 {
      display: none;
    }

    #text {
      position: absolute;
      text-align: center;
      left: 130px;
      font-size: 17px;
      top: 205px;
      font-weight: 200;
      cursor: pointer;
      padding: 0.25em;
      background: white;
      color: black;
      transition: color 650ms ease;
      transition: background-color 750ms ease;
      border: 0.3rem outset black;
      border-radius: 17px;
    }
    #night {
      position: absolute;
      width: 300px;
      height: 255px;
      background-color: navy;
      opacity: 0;
    }

    .opendoor {
      position: absolute;
      height: auto;
      width: 39px;
      left: 225px;
      top: 59px;
    }
    .clickbox {
      cursor: pointer;
      position: absolute;
      width: 32.5px;
      height: 36px;
      left: 181.5px;
      top: 110px;
      background-color: none;
    }

    #knock {
      position: absolute;
      text-align: center;
      left: 176px;
      font-size: 9px;
      top: 70px;
      font-weight: 900;
      color: white;
    }

    #hanginthere {
      position: absolute;
      text-align: center;
      margin-left: 100px;
      font-size: 9px;
      top: 150px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #hangon {
      position: absolute;
      text-align: center;
      margin-left: 100px;
      font-size: 9px;
      top: 150px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }

    #transit {
      position: absolute;
      text-align: center;
      margin-left: 100px;
      font-size: 9px;
      top: 150px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
    #be {
      position: absolute;
      text-align: center;
      margin-left: 100px;
      font-size: 9px;
      top: 150px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }

    #your {
      position: absolute;
      text-align: center;
      margin-left: 100px;
      font-size: 9px;
      top: 150px;
      font-weight: 900;
      color: white;
      background-color: black;
      border: 0.3rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 299px) and (min-width: 1px) {
  .door {
    display: none;
  }

  #hall {
    display: none;
  }

  .sky1 {
    display: none;
  }

  .sky2 {
    display: none;
  }

  .sky3 {
    display: none;
  }
  .sky4 {
    display: none;
  }

  #text {
    display: none;
  }
}

#text:hover {
  color: white;
  background-color: black;
  border: 0.3rem outset white;
}

.sky1-fade {
  -webkit-transform: rotate(2160deg);
  -webkit-transition-duration: 40s;
}

.sky2-fade {
  -webkit-transform: rotate(2160deg);
  -webkit-transition-duration: 40s;
}

.sky3-fade {
  -webkit-transform: rotate(2160deg);
  -webkit-transition-duration: 40s;
}

.sky4-fade {
  -webkit-transform: rotate(2160deg);
  -webkit-transition-duration: 40s;
}
.cardboardbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
  background-image: url("img/texture.jpg");
  color: saddlebrown;
  min-height: 200px; /* Adjust as needed */
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allows images to wrap within the box */
  padding: 20px;
  border: 9px solid peru;
  flex-wrap: wrap;
}

@media (max-width: 3000px) and (min-width: 801px) {
  .cardboardbox img {
    max-width: 27%; /* Adjust the size of the displayed images */
    margin: 2.5%; /* Add some spacing between images */
  }
}

@media (max-width: 800px) and (min-width: 651px) {
  .cardboardbox img {
    max-width: 42%; /* Adjust the size of the displayed images */
    margin: 2.5%; /* Add some spacing between images */
  }
}

@media (max-width: 650px) and (min-width: 1px) {
  .cardboardbox img {
    margin: 2.5%; /* Add some spacing between images */
  }
}

#draggable {
  background-color: grey;
  height: 5%;
  width: 2000px;
  top: 50%;
  left: -90%;
  position: absolute;
  cursor: move;
  float: right;
  width: 100%; /* Adjust width as needed */
}

.waitingbox {
  position: absolute;
  float: left;
  width: 80%; /* Adjust width as needed */
  border: solid grey;
  height: 7%;
  width: 75%;
  top: 49%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

.loading {
  width: 100%;
  overflow: hidden; /* Clear the floats */
}

.blocker1 {
  height: 100vh;
  background-color: white;
  width: 15%;
  left: 0px;
  position: absolute;
}
.blocker2 {
  height: 100vh;
  background-color: white;
  width: 20%;
  left: 80%;
  position: absolute;
}

.waitingbox2 {
  position: absolute;
  width: 80%; /* Adjust width as needed */
  border: solid grey;
  height: 7%;
  width: 0.1%;
  top: 49%;
  left: 4.9%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.waitingbox3 {
  position: absolute;
  width: 80%; /* Adjust width as needed */
  border: solid grey;
  height: 7%;
  width: 0.1%;
  top: 49%;
  left: 69.9%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.processing {
  font-size: 24px;
  text-align: center;
  padding-top: 40vh;
  color: grey;
}

#loadingGif {
  width: 6%;
  margin-left: 47%;
  margin-top: 19vh;
}

#check {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: grey;
  padding-top: 1vh;
}
